Application/Configuration/ApplicationConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DayExpired" type="xs:unsignedByte" />
        <xs:element name="UserOnline" type="xs:unsignedByte" />
        <xs:element name="DefaultImage" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>